.upload-button-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.upload-button-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

mat-card-actions {
  text-align: center;
}

