<form (ngSubmit)="readFile()" [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Plik z danymi wejściowymi</mat-card-title>
      <mat-card-subtitle *ngIf="fileName">
        Wybrano: {{fileName}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="!fileName">
        Nie wybrano pliku
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <span class="upload-button-wrapper">
        <button mat-stroked-button color="primary">
          <mat-icon>attachment</mat-icon>
          Wybierz plik
        </button>
        <input type="file" formControlName="file" (change)="onFileChange($event)"
               name="file" id="file" class="inputfile"/>
      </span>
      <button type="submit" mat-raised-button color="primary">Wczytaj dane</button>
    </mat-card-actions>
  </mat-card>
</form>



