<mat-card>
  <mat-card-header>
    <mat-card-title>Zoom</mat-card-title>
    <mat-card-subtitle>Zmiana ogniskowej obiektywu</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="zoomIt(zoomType.IN)">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="zoomIt(zoomType.OUT)">
      <mat-icon>zoom_out</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
