<mat-card>
  <mat-card-header>
    <mat-card-title>Translacja</mat-card-title>
    <mat-card-subtitle>Przemieszczanie się fotografa</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="translateIt(translationType.LEFT)">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="translateIt(translationType.RIGHT)">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="translateIt(translationType.UP)">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="translateIt(translationType.DOWN)">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="translateIt(translationType.FORWARD)">
      <mat-icon>call_made</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="translateIt(translationType.BACKWARD)">
      <mat-icon>call_received</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
